<header>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Active</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Longer nav link</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">자신의 정보</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">로그인</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">로그아웃</a>
        <form id="search" class="d-flex" role="search">
            <select class="form-select" aria-label="Default select example" name="option">
                <option selected>선택</option>
                <option value="1">제목</option>
                <option value="2">작성자</option>
                <option value="3">작성일자</option>
            </select>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="value">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>
</header>